---
layout: blog		
---




	<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top wp1" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <i class="fa fa-gamepad"></i> 异星幻想 <span class="font-light"> 2</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="/index.html#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/index.html#blog">最新公告</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/index.html#stats">世界统计</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/index.html#about">游戏简介</a>
                    </li>                    
                    <li class="page-scroll">
                        <a href="/index.html#actors">游戏特色</a>
                    </li>                    
                    <li class="page-scroll">
                        <a href="/index.html#downloads">游戏下载</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/blog.html">资讯公告</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
       
	<br>

    <!-- Blog Section -->
    <section id="blog">
    <div class="container"> 
    	<h1 class="section-title">资讯公告<i class="fa fa-bullhorn"></i></h1>
        <div class="row">      
        <div class="col-lg-9 wp2 delay-05s">
			{% for post in site.categories.blogs %}				
                <!-- 01 -->
                <div class="blog-item blog-item-full">                
                <div class="blog-item-info page-scroll">
                <span>{{ post.date | date: "%d" }}日</span>
                <small>{{ post.date | date: "%Y年 %m 月" }}</small>
                <a href="blog-page.html"><i class="fa fa-eye"></i><small></small></a>
                </div><!-- /.blog-item-info --> 
                
                <div class="blog-item-text">
                <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>                
                <p>{{post.excerpt }}</p>
                </div><!-- /.blog-item-text --> 
                </div><!-- blog-item -->
                <hr>
			{% endfor %}                      
       

    	</div><!-- /.col-lg-8 --> 
        
        
       <!-- Sidebar -->
       <div class="col-lg-3">
       
          <!-- Search -->
          <div class="sidebar-widget">
                              <form class="search-form">
                                  <button type="submit" value="" name="submit" class="search-button"><i class="fa fa-search"></i></button>
                                  <input class="search-line" name="search" type="text" placeholder="Search">
                              </form>
          </div>

          
          <!-- Recent Posts -->  
          <div class="sidebar-widget">
              <h4>最新公告</h4>
              <ul class="latest-blog-list">
              	{% for post in site.categories.blogs limit:5 %}  
                  <li>                                      
                      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>
                      <small>{{ post.date | date: "%Y/%m/%d" }}</small>      
                  </li>
                  {% endfor %}

              </ul>
          </div>

          
      </div> <!-- /sidebar-->
        
    </div><!-- /.row -->     	    
	</div><!-- /.container --> 
	</section><!-- /#blog -->  
	
	
	<!-- Core JavaScript Files -->
    <script src="{{ "/js/jquery-1.10.2.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

    <!-- JavaScript -->
    <script src="{{ "/js/lib/jquery.appear.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/lib/owl-carousel/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/lib/magnific-popup/jquery.magnific-popup.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/lib/video/jquery.mb.YTPlayer.js" | prepend: site.baseurl }}"></script> 		
    <script src="{{ "/js/lib/flipclock/flipclock.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/lib/jquery.animateNumber.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/lib/waypoints.min.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>




