---
layout: default
---

<div class="home">  

  <h1 class="page-heading"></h1>  

  <ul class="post-list">
    {% for post in site.categories.blogs limit:1 %}
      <li>       

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <span class="post-meta">- {{ post.date | date: "%Y/%m/%d" }}</span>
        </h2>        
        <div>
          {{ post.content }}
        </div>
      </li>
    {% endfor %}
  </ul>

  <div class="align-center">
    <h1 class="page-heading">游戏新特色</h1>  
  </div>

  <div class="footer-col-wrapper">
    {% for post in site.categories.features reversed %}
      <div class="footer-col  footer-col-1">
        <img src="{{post.picture}}">
        <h3 class="align-center">
          {{ post.title }}
        </h3>
        <span class="post-meta">{{ post.content }}</span>
      </div>
    {% endfor %}
  </div>

  <div class="align-center">
    <h1 class="page-heading">游戏日志</h1>  
  </div>

  <ul class="post-list">
    {% for post in site.categories.blogs limit:6 offset:0 %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}  <span class="post-meta"> - {{ post.date | date: "%Y/%m/%d" }}</span></a>
        </h2>        
      </li>
    {% endfor %}
  </ul>


  <div class="index-download"> 
    {% if site.download-url-android != nil and site.download-url-android != "" %}
    <a href="{{ site.download-url-android }}" target="_blank"><img src="/images/download_android.png"></a>
    {% endif %}

    {% if site.download-url-ios != nil and site.download-url-ios != "" %}
    <a href="{{ site.download-url-ios }}" target="_blank"><img src="/images/download_ios.png"></a>
    {% endif %}

  </div>

</div>
