<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>邮箱：<a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>QQ群：324039433</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          <li>微信服务号：YIXINGOL</li>
          <li>RSS订阅: <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><img src="/images/rss.png"/></a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">        
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?46cf4f5867840af32b5c3bd639e19f28";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

  </div>

</footer>
