<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>客服邮箱：<a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>官方QQ群：324039433</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          <li>微信服务号：YIXINGOL</li>
          <li>RSS订阅: <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><img src="/images/rss.png"/></a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">        
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
