
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:url" content="https://fwar.nexon.com/MicroTw/">  
    <meta property="og:title" content="异星幻想2官方网站">
    <meta property="og:description" content="">
    <title>体验真正的角色扮演游戏乐趣</title>
    <link rel="stylesheet" href="/css/layout.css" type="text/css">
</head>
