	<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top wp1" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <i class="fa fa-gamepad"></i> 异星幻想 <span class="font-light"> 2</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#blog">最新公告</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#stats">世界统计</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">游戏简介</a>
                    </li>                    
                    <li class="page-scroll">
                        <a href="#actors">游戏特色</a>
                    </li>                    
                    <li class="page-scroll">
                        <a href="#downloads">游戏下载</a>
                    </li>
                    <li class="page-scroll">
                        <a href="blog.html">资讯公告</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>